


@media (max-width: 1024px) { 
    #clock{
        display: none;
    }
    .hero h1 {
        font-size: 2.5em;
    }
    .hero h2 {
        font-size: 2em;
    }   
    .cursor {
        display: none;
    }

    .inside{
        padding: 0 10vw;
    }

    .inside h1 {
        font-size: 4em;
    }
    .content_about div:first-child {
        width: 100%;
    }
    .content_about h2 {
        margin: 15px 0;
    }
    .content_about div:last-child {
        width: 100%;
        margin-left: 0;
    }

    .content_presentation div{
        width: 100%;
    }


 @media (max-width: 736px) { 

 }