@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap');


body{
  margin: 0;
  color: #c8dff7;
  background: rgba(0,51,102,1);
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


.cursor {
  border-color:#c8dff7;
}
a, nav > span{
  color:#c8dff7;
}


#loader-wrapper{
  height: 100vh;
  width: 100vw;
  background: rgba(0,51,102,1);
  z-index: 15;
  position: absolute;
}

section, footer {
  padding: 0 10vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


footer > div{
  display: flex;
  justify-content: space-between;
}


nav{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 10vw;
  width: 80vw;
  z-index: 1;
}

nav > div {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

a, nav > span{
  font-size: 1em;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0.6px;
}
nav a,footer a{
  position: relative;
  text-decoration: none;
}
nav > a:first-child{
  font-size: 1.5em;
  font-family: 'NewYork';
}
nav a:hover:after, footer a:hover:after {
  width: 100%;
  left: 0;
}
nav a:after,footer a:after  {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: -5px;
  right: 0;
  background: #8e1515;
  transition: width .4s ease;
  -webkit-transition: width .4s ease;
}

footer{
  text-align: center;
  z-index: 1;
  padding-bottom: 10vh;
}

footer .v91_0 {
  padding: 0 0 10% 0;
  display: flex;
  justify-content: center;
}

h1,footer .headTxt{
  font-family: 'NewYork';
  font-weight: 100;
  font-style: normal;
  font-size: 13em;
  opacity: 1;
  text-align: left;
  margin: 0;
  line-height: 0.85;
}
footer .headTxt{
  font-size: 10em;
}



/**Page Home**/
.hero{
  height: 100vh;
  margin-top: 0;
}
.hero .v52_5 {
  opacity: 1;
  position: absolute;
  top: 35%;
  right: 10vw;
  z-index: -500;
}

.v52_5 img{
  width: 35vw;
}

.inside{
  width: 80vw;
  min-height: 30vh;
  height: 30vh;
  padding: 20vh 10vw 10vh 10vw;
}

.content{
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  /*padding: 2vh 0;*/
}
#home .content{
  align-items: center;
}
.content p,.content_about p{
  /*border-left: 1px solid #8e1515;*/
  padding-left: 5%;
  height: 100%;
}
.content h2, .project h2, .content_T2 h2,.content_about h2{
  font-family: 'NewYork';
  font-weight: 100;
  font-size: 55px;
  font-weight: 100;
  letter-spacing: 0.6px;
  margin-top: 15px;
  margin-right: 5%;
  text-decoration: wavy;
  text-decoration-color: #8e1515;
}
.content , .content_T2{
  border-top: #c8dff7 solid 2px;
  border-bottom: #c8dff7 solid 2px;
  margin: 200px 0;
}
.content p, .project p, .content_about p{
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: 100;
  padding-top: 4vh;
}

.content_T2{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:100px 0;
}
.content_T2-F{
  display: flex;
  flex-direction: row;
}
.content_T2-F div{
  width: 50%;
}
.content_T2-3X{
  display: flex;
  flex-direction: row;
}
.content_T2 div:last-child{
  margin: auto;
}

.content_T2 h2{
  margin: 0;
}

.content_T2 p{
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: 100;
}

.clock_content{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}
.clock_content div:first-child{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.clock_content .yearClock{
  justify-content: center;
}

.projects{
  display: flex;
  flex-direction: column;
}
.projects{
  justify-content: center;
}
.projects > a{
  font-family: 'NewYork';
  font-weight: normal;
  font-style: normal;
  font-size: 8.1em;;
  line-height: 1.16;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  /*margin-bottom: 25px;*/
  z-index: 3;
}
.projects > a:hover{
  z-index: 5;
  color: #003366;
}

.projects > a::before,
.projects > a::after{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #8e1515;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}
.projects > a::before{
  content: '\005C\005C';
}
.projects > a::after{
  content: '//';
}

.projects p{
  text-align: left;
}

#clock{
  font-family: "NewYork";
  font-size: 20em;
  text-align: center;
}

/**Page Project**/
#project{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

#project > div{
  width: 50%;
  height: 100vh;
}

#project h1{
  font-size: 6.56em;
  line-height: 0.57em;
  margin-bottom: 0.7em;
}


#project > div:nth-child(1){
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#project > div:nth-child(1) span{
  padding-left: 0.60em;
}



#project > div:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
  background: #003366;
}
#project img{
  width: calc(100% - 53px);
  height: calc(100% - 106px);
  object-fit: cover;
}




/**Custom cursor**/

.cursor {
  width: 25px;
  height: 25px;
  border: 1px solid #c8dff7;
  border-radius: 50%;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  pointer-events: none;
}

.expand {
  animation: cursorDownScale 500ms forwards;
  border: solid #8e1515 1px;
  background: #8e1515;
  transition-duration: 400ms;
}

#projectBG{
  background-size: cover;
  width: 80vw;
  padding: 0;
  margin: 0 10vw;
  animation: animatedBackground 0.4s linear;
}

@keyframes animatedBackground {
  0% {
    opacity: 0;
    left: 100%;
 }
 50%{
    opacity: 1;
    left: 0;
 }
}


.imgCursor{
  height: 60vh;
  width: 25vw;
  margin-left: -12vh;
  margin-top: -15vw;
  border-radius: 5px;
  border: solid #8e1515 1px;
  transition-duration: 400ms;
  background-size: cover;
  z-index: 10;
}

.cursor_click{
  animation: cursorDownScale 300ms;
  background-color: #8e1515;
  width: 25px;
  height: 25px;
  border: 1px solid #8e1515;
  transition-duration: 300ms;
}


@keyframes cursorUpScale {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.3);
  }
}
@keyframes cursorDownScale {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(-0.5);
  }
}

/**Gallery **/
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

.item:hover{
  flex: 15;
}

.item-1 { 
  background-image: url('../images/IMG_0133_2.jpg');
}

.item-2 { 
  background-image: url('../images/IMG_0136_2.jpg');
}

.item-3 { 
  background-image: url('../images/IMG_0133_2.jpg');
}

.item-4 { 
  background-image: url('../images/IMG_0141_2.jpg');
}

.item-5 { 
  background-image: url('../images/IMG_0141_2.jpg');
}

.item-6 { 
  background-image: url('../images/IMG_0144_2.jpg');
}

.item-7 { 
  background-image: url('../images/IMG_0133_2.jpg');
}

.item-8 { 
  background-image: url('../images/IMG_0133_2.jpg');
}

.item-9 { 
  background-image: url('../images/IMG_0136_2.jpg');
}

.item-10 { 
  background-image: url('../images/IMG_0141_2.jpg');
}

.social{
  position: absolute;
  right: 35px;
  bottom: 0;
}
.social img{
  display: block;
  width: 32px;
}


.content_about{
  border-top: #c8dff7 solid 2px;
  display: flex;
  flex-direction: row;
  min-height: 40vh;
}
.content_about p{
  padding-top: 0;
}