
@font-face {
  font-family: 'NewYork';
  src: url('./font/NewYork.woff2') format('woff2'),
      url('./font/NewYork.woff') format('woff'),
      url('./font/NewYork.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src:url('.font/Work_Sans/WorkSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body{
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  opacity: 0;
  transition: opacity .7s;
  overflow: hidden scroll;
}

.darkmode{
  color: #94999e;
  background: #141b24;
}
.lightmode{
  color: #141b24;
  background: #F4F4F4;
}
.lightmode .cursor{
  border-color:#141b24;
}
.darkmode .cursor{
  border-color:#94999e;
}
.lightmode a, .lightmode nav > span {
  border-color:#141b24;
}
.darkmode a, .darkmode nav > span {
  border-color:#94999e;
}

.darkmode .content_presentation, .darkmode .content_about,.darkmode .content_about div:last-child{
  border-color: #94999e;
}
.lightmode .content_presentation, .lightmode .content_about,.lightmode .content_about div:last-child{
  border-color: #141b24;
}

.lightmode .expandFull {
  animation: cursorFullSizeLight 800ms forwards ;
}
.darkmode .expandFull {
  animation: cursorFullSizeDark 800ms forwards ;
}



section, footer {
  padding: 0 5vw;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer{
  padding: 0 5vw;
  width: 90vw;
  flex-direction: row;
  justify-content: space-between;
}

footer > div{
  display: flex;
  justify-content: end;
  flex-direction: column;
}
footer > div:first-child{
  justify-content: flex-end;
}

nav{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 5vw;
  width: 90vw;
  z-index: 1;
}

nav > div {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.nav_bio{
  justify-content: space-between;
}


.secretClass{
  color: #F4F4F4;
}

a, nav > span, .content_about span, footer span, .nav_bio span,.link_bio span{
  font-size: 1em;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0.6px;
}
nav span,footer a,.content_about span,footer span,.link_bio span{
  position: relative;
  text-decoration: none;
}
nav > span:first-child{
  font-size: 1.5em;
  font-family: 'NewYork';
}
nav span:hover:after, .content_about span:hover:after, .content_about span:hover:after,footer span:hover:after,.link_bio span:hover:after{
  width: 100%;
  left: 0;
}
nav span:after,.content_about span:after , .content_about span:after,footer span:after,.link_bio span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: -5px;
  right: 0;
  background: -webkit-linear-gradient(bottom left,#3d6996 5%,#245d96 20% , #003366,#245d96 80%,#3d6996 95% );
  transition: width .4s ease;
  -webkit-transition: width .4s ease;
}

footer{
  position: fixed;
  bottom: 10px;
  text-align: right;
}
.footer_bio{
  text-align: left;
}


footer .v91_0 {
  padding: 0 0 10% 0;
  display: flex;
  justify-content: center;
}

h1,footer .headTxt{
  font-family: 'NewYork';
  font-weight: 100;
  font-style: normal;
  font-size: 12.2em;
  opacity: 1;
  text-align: left;
  margin: 20vh 0;
  line-height: 1.1;
}
h1,h2,h3{
  background: -webkit-linear-gradient(bottom left,#245d96, #013f7e,#245d96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero h1{
  margin: 0;
}

footer .headTxt{
  font-size: 10em;
}

.footerNav div{
  margin: 7px 0;
}

/**Page Home**/
.hero{
  margin-top: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  position: absolute;
}
.hero span{
  line-height: 1.3;
  font-family: 'NewYork';
  font-weight: 100;
  font-style: normal;
  font-size: 4.5em;
  opacity: 1;
  text-align: left;
  margin: 0;
}
.hero span a{
  text-decoration: none;
}
.hero_bio{
  flex-direction: row;
}
.content_about img{
  width: 250px;
}

.inside{
  width: 80vw;
  min-height: 30vh;
  height: 30vh;
  padding: 20vh 10vw 10vh 10vw;
}
.inside h1{
  font-size: 10em;
}

.content_about{
  border-top: solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 40vh;
  margin: auto;
  width: 100%;
}

.content_about p{
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: 300;
}
.content_about div:first-child{
  width: 60%;
}
.content_about div:last-child{
  width: 34%;
  padding-left: 5%;
  margin: 25px 0;
  border-left: 2px solid;
}

.content_about h2 {
  font-family: "NewYork";
  font-weight: 100;
  font-size: 4em;
  margin: 15px;
}
.content_about a{
  text-decoration: none;
}


.content_presentation{
  display: flex;
  justify-content: start;
  min-height: 50vh;
  border-top: solid 2px;
  flex-wrap: wrap;
}
.content_presentation div:first-child{
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content_presentation div:last-child{
  width: 45%;

}
.content_presentation img{
  max-height: 80vh;
}
.content_presentation p{
  font-size: 20px;
    line-height: 1.4;
    letter-spacing: 1px;
    font-weight: 300;
}

#postPage section{
  padding: 0 25vw;
  width: 50vw;
}
#post{
  margin-bottom: 25vh;
}

.bio_smartphone{
  display: none;
}



/**Custom cursor**/
.hovermouse{
  cursor: none;
}
.cursor {
  width: 25px;
  height: 25px;
  border: 1px solid #141b24;
  border-radius: 50%;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  pointer-events: none;
  z-index: 5;
}

.imgCursor{
  height: 60vh;
  width: 25vw;
  margin-left: -12vh;
  margin-top: -15vw;
  border-radius: 5px;
  border: solid #8e1515 1px;
  transition-duration: 400ms;
  background-size: cover;
  z-index: 10;
}

.expand {
  animation: cursorDownScale 500ms forwards;
  border: solid #c70e0e 1px;
  background: #c70e0e;
  transition-duration: 400ms;
}

.expandFull {
  -webkit-animation-timing-function: ease-in-out; 
  animation-timing-function: ease-in-out;
}


.cursor_click{
  animation: cursorDownScale 300ms ;
  background-color: #c70e0e;
  width: 25px;
  height: 25px;
  border: 1px solid #c70e0e;
  transition-duration: 300ms;
}


@keyframes cursorUpScale {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.5);
  }
}
@keyframes cursorDownScale {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(-0.5);
  }
}

@keyframes cursorFullSizeLight {
  from {
    transform: scale(1);
    background-color: #c70e0e;
    border: 1px solid #c70e0e;
  }
  to {
    transform: scale(200);
    background-color: #F4F4F4;
    border: 1px solid #F4F4F4;
  }
}
@keyframes cursorFullSizeDark {
  from {
    transform: scale(1);
    background-color: #c70e0e;
    border: 1px solid #c70e0e;
  }
  to {
    transform: scale(200);
    background-color: #141b24;
    border: 1px solid #141b24;
  }
}







@media (max-width: 1024px) { 
  #clock{
      display: none;
  }
  h1, footer .headTxt {
      font-size: 3em;
      margin: 16vh 0;
  }
  .hero h1 {
      font-size: 2em;
      line-height: 1.5;
  }
  .hero_bio{
      flex-wrap: wrap;
      margin-bottom: 10vh;
      margin-top: 15vh;
      height: AUTO;
      position: unset;
      justify-content: start;
  }

  .hero_bio img{
      display: none;
  }

  .bio_smartphone{
      display: block;
      margin-bottom: 10vh;
  }

  .nav_bio{
      display: none;
  }

  .footer_bio .footerNav{
      text-align: right;
  }

  .cursor {
      display: none;
  }

  .inside{
      padding: 0 10vw;
  }

  .inside h1 {
      font-size: 3em;
  }
  .content_about div:first-child {
      width: 100%;
  }
  .content_about h2 {
      margin: 15px 0;
      font-size: 2em;
  }
  .content_about p {
      font-size: 16px;
  }
  .content_about span {
      font-size: 1.1em;
  }
  
  .content_about div:last-child {
      width: 100%;
      margin-left: 0;
      border: none;
      padding-left:0;
  }

  .content_presentation div{
      width: 100%;
  }

  .footer_bio{
      display: none;
  }
  footer > div:first-child {
      justify-content: center;
  }