


@media (max-width: 1024px) { 
    #clock{
        display: none;
    }
    h1, footer .headTxt {
        font-size: 6em;
        margin: 16vh 0;
    }
    .hero h1 {
        font-size: 2em;
        line-height: 1.5;
    }
    .hero_bio{
        flex-wrap: wrap;
        margin-bottom: 10vh;
        margin-top: 15vh;
        height: AUTO;
        position: unset;
    }

    .hero_bio img{
        display: none;
    }

    .bio_smartphone{
        display: block;
        margin-bottom: 10vh;
    }

    .nav_bio{
        display: none;
    }

    .footer_bio .footerNav{
        text-align: right;
    }

    .cursor {
        display: none;
    }

    .inside{
        padding: 0 10vw;
    }

    .inside h1 {
        font-size: 4em;
    }
    .content_about div:first-child {
        width: 100%;
    }
    .content_about h2 {
        margin: 15px 0;
    }
    .content_about div:last-child {
        width: 100%;
        margin-left: 0;
    }

    .content_presentation div{
        width: 100%;
    }

    .footer_bio{
        display: none;
    }

 @media (max-width: 736px) { 

 }